<p id="notice"><%= notice %></p>

<h1>Todo2s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo2s.each do |todo2| %>
      <tr>
        <td><%= todo2.title %></td>
        <td><%= todo2.content %></td>
        <td><%= link_to 'Show', todo2 %></td>
        <td><%= link_to 'Edit', edit_todo2_path(todo2) %></td>
        <td><%= link_to 'Destroy', todo2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo2', new_todo2_path %>
