<p id="notice"><%= notice %></p>

<h1>Todo3s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo3s.each do |todo3| %>
      <tr>
        <td><%= todo3.title %></td>
        <td><%= todo3.content %></td>
        <td><%= link_to 'Show', todo3 %></td>
        <td><%= link_to 'Edit', edit_todo3_path(todo3) %></td>
        <td><%= link_to 'Destroy', todo3, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo3', new_todo3_path %>
